$colors-primary-text: HSL(0, 0%, 87%);
$colors-subtext: HSL(0, 0%, 66%);
$colors-emphasis: HSL(333, 100%, 52%);
$colors-background: HSL(210, 30%, 8%);
$colors-background-secondary:  HSL(210, 30%, 12%);
$colors-line: HSL(30, 7%, 22%);
$colors-info: HSL(230, 100%, 67%);
$colors-infoBG: HSL(210, 38%, 15%);
$colors-success: HSL(160, 100%, 40%);
$colors-successBG: HSLA(160, 100%, 40%, 0.1);
$colors-alert: HSL(30, 100%, 50%);
$colors-alertBG: HSLA(38, 100%, 50%, 0.1);
$colors-accent: HSL(53, 100%, 50%);

$fonts-primary: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
$fonts-emphasis: "Sriracha", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
